@page "/explore"
@model VietnamBackpackerHostels.Web.Pages.Explore.IndexModel

@Html.DisplayFor(x => x.Cards)

<section class="text-center">
    <div class="container has-parallax-scroll pt-4 pb-5">
        <div class="row">
            <div class="col-lg-12">
                <p>Vietnam is a country of vast diversity, <strong>Northern Vietnam</strong>, <strong>Central Vietnam</strong> and <strong>Southern Vietnam</strong> are the three main regions, each region consisting of cultural differences and significant changes to the landscape, the valleys and mountains of the north prime for the adventurous explorers, the lush white sand beaches of the Coastal and Southern regions for those that like a more relaxing experience, and the beauty and vastness of the Central Highlands for those that like a less touristy, off the beaten track adventure. There is something for everyone, the preference is yours, and of course you can indulge in the diversity of Vietnam by spending time in each of its wonderful regions. You can explore, the north, central or southern regions with VBH on many of our trips located in specific areas or you can join in on our world-famous Buffalo Run to take a trip of a lifetime to truly experience the diversity of the landscape, rich culture and traditions with lots of fun activities and incredible sights to see along the way.</p>
            </div>
        </div>
    </div>
</section>

<partial name="Shared/_DesignYourTripPartial" model="true" />