<div class="container-fluid bg-light">
    <img src="https://travaloudcdn.azureedge.net/vbh/assets/images/texture-top.png" class="w-100 top-0 start-0 position-absolute" style="max-height:18px;" alt="Texture border image" />
    <div class="container pb-5 pt-5">
        <div class="row justify-content-lg-center has-parallax-scroll">
            <div class="col-12 text-center">
                <h2 class="">Why Travel VBH</h2>
            </div>
        </div>
        <div class="row g-lg-10 mb-3 mb-lg-0">
            <div class="col-lg-6 has-parallax-scroll">
                <h4 class="tilted bg-primary text-white d-inline-block p-2">Licensed Tour Guides</h4>
                <p class="pt-lg-3">
                    This company provides licensed tour guides, which means that you will have access to knowledgeable professionals who can provide in-depth information about the destinations you visit. This will enhance your overall travel experience.
                </p>
            </div>
        </div>
        <div class="row g-lg-10 mb-3 mb-lg-0 mt-lg-n5">
            <div class="col-lg-6 offset-lg-6 has-parallax-scroll">
                <h4 class="tilted bg-primary text-white d-inline-block p-2">English Speaking Guides</h4>
                <p class="pt-lg-3">
                    The company also provides English-speaking guides, which is particularly helpful if English is your primary language. This means that you will be able to communicate effectively with your guide and get the most out of your trip.
                </p>
            </div>
        </div>
        <div class="row g-lg-10 mb-3 mb-lg-0 mt-lg-n3">
            <div class="col-lg-6 has-parallax-scroll">
                <h4 class="tilted bg-primary text-white d-inline-block p-2">Customer Support After Bookings</h4>
                <p class="pt-lg-3">
                    This company offers customer support after bookings, which means that you can get assistance with any issues or concerns that may arise during your trip. This will give you peace of mind knowing that you are not alone if something goes wrong.
                </p>
            </div>
        </div>
        <div class="row g-lg-10 mt-lg-n5 mb-3 mb-lg-0">
            <div class="col-lg-6 offset-lg-6 has-parallax-scroll">
                <h4 class="tilted bg-primary text-white d-inline-block p-2">Established in 2004</h4>
                <p class="pt-lg-3">
                    The fact that this company has been established since 2004 is a testament to its reliability and trustworthiness. This indicates that they have a proven track record of providing high-quality travel experiences to their clients.
                </p>
            </div>
        </div>
        <div class="row g-lg-10 mb-3 mb-lg-0 mt-lg-n3">
            <div class="col-lg-6 has-parallax-scroll">
                <h4 class="tilted bg-primary text-white d-inline-block p-2">Experienced</h4>
                <p class="pt-lg-3">
                    With years of experience in the travel industry, this company has developed an in-depth understanding of the needs and preferences of travelers. They are able to use this knowledge to tailor their services to meet the unique needs of each client.
                </p>
            </div>
        </div>
    </div>
    <img src="https://travaloudcdn.azureedge.net/vbh/assets/images/texture-bottom.png" class="w-100 bottom-0 start-0 position-absolute" style="max-height:18px;" alt="Texture border image" />
</div>
