@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@font-face {
    font-family: 'Brandon Printed';
    src: url('https://travaloud.azureedge.net/vbh/assets/fonts/brandonprinted-two-webfont.woff2') format('woff2'), url('https://travaloud.azureedge.net/vbh/assets/fonts/brandonprinted-two-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
