@page "/terms-and-conditions"
@model VietnamBackpackerHostels.Web.Pages.TermsAndConditions.IndexModel

    <!--Section: Category Header-->
    <div class="custom-height mt-n5 py-3 py-lg-5 bg-black">
        <div class="container py-5">
            <div class="row my-4">
                <div class="col-12 has-parallax-scroll">
                    <h1 class="display-4 fw-bold ls-tight text-white">Terms & Conditions</h1>
                </div>
            </div>
        </div>
    </div>
    <!--Section: Category Header-->
    <!--Section: Categories-->
    <div class="container bg-white rounded-6 position-relative p-3 custom-mt">
        <div class="row">
            <div class="row">
                <div class="col-lg-12">
                    <p>We strongly recommend that you take the time to read and understand our booking conditions as set out below prior to booking with us.</p>
                    <h6 class="text-black">CONTRACT</h6>

                    <p>By booking accommodation or a trip with us you have agreed to these Booking Conditions (which establishes the entire agreement between you and us) and your booking will be accepted by us on this basis. The services to be provided are those referred to in your booking confirmation.</p>

                    <h6 class="text-black">PAYMENT REQUIREMENTS</h6>

                    <p>Full amount for all bookings is payable at the time of booking. Please refer to section titled Cancellation Policies for information on any associated fees.</p>

                    <h6 class="text-black">YOUR DETAILS</h6>

                    <p>In order for us to book and confirm your travel arrangements, we will require all necessary details such as full name as it appears in your passport, date of birth, nationality, passport issue and expiry dates, valid visa information as well as any pre-existing medical conditions you have that may affect your ability to complete your travel arrangements. Due to the adventurous nature of some of our trips you will also be required to complete an indemnity waiver in order to participate. We will not be able to confirm your booking without these details.</p>

                    <h6 class="text-black">CHANGE OF ITINERARY</h6>

                    <p><strong>Cancellation by the traveller</strong></p>

                    <p>If you cancel some or all portions of your booking, cancellation fees will apply as stated below. A cancellation will only be effective when we receive written copy of the cancellation.</p>

                    <p>48 Hours – 30 Days 25% of total booking</p>

                    <p>24 Hours – 48 Hours 50% of Fare</p>

                    <p>Within 24 Hours 100% of Fare</p>

                    <p>You are strongly advised to take out cancellation insurance at the time of booking which will cover cancellation fees. If you leave a trip for any reason after it has commenced we are not obliged to make any refunds for unused services.</p>

                    <p>If you fail to join a trip, join it after departure, or leave before it's completion, no refund will be made. Additional fees to the above mentioned may be imposed by accommodation providers, travel agents or third party tour and transport operator fees.</p>

                    <p><strong>Cancellation by us</strong></p>
                    <p>While we endeavour to operate all trips as described when you booked however we reserve the right to change the trip itinerary if deemed necessary to do so.

                    <p>Before departure: If we make a major change we will inform you as soon as reasonably possible if there is time before departure. The definition of a major change is deemed to be a change affecting at least one day in five of the itinerary. When a major change is made you may choose between accepting the change, obtaining a refund of money paid on the land portion of the trip only or accepting an alternative tour offered.</p>

                    <p>After departure: We reserve the right to change an itinerary after departure due to local circumstances or events outside of our control. In such cases, you will cover any additional costs of any necessary itinerary alterations. Please note we are not responsible for any incidental expenses that may be incurred as a result of the change of itinerary such as visas, vaccinations or non-refundable flights. Please refer to sections labelled ‘Travel Insurance & Force Majeure'</p>

                    <h6 class="text-black">AUTHORITY ON TOUR</h6>
                    <p>Our trips are run by a group leader. The decision of the group leader is final on all matters likely to affect the safety or well-being of any person participating in the trip. If you fail to comply with a decision made by a group leader, or interfere with the well-being or mobility of the group, the group leader may direct you to leave the trip immediately, with no right of refund. We may also elect not to carry you on any future trips booked. You must at all times comply with the laws, customs, foreign exchange and drug regulations of all countries visited, and you also agree to travel in accordance with our responsible travel guidelines.</p>

                    <h6 class="text-black">ACCEPTANCE OF RISK</h6>
                    <p>You acknowledge that the nature of our trips is adventurous and participation involves a degree of personal risk. We use information from government foreign departments and reports from our own contacts in assessing whether the itinerary should operate. However it is also your own responsibility to acquaint yourself with all possible relevant travel information and the nature of your itinerary. You acknowledge that your decision to travel is made in light of consideration of this information and you accept that you are aware of the personal risks attendant upon such travel.</p>

                    <h6 class="text-black">LIABILITY</h6>
                    <p>Whilst we make every effort to safeguard our clients and their belongings, we cannot be held responsible for personal injury or loss due to events, which are beyond our control.</p>


                    <h6 class="text-black">TRAVEL INSURANCE</h6>
                    <p>Travel insurance is NOT included; we strongly recommend that passengers have their own travel insurance against illness, injury, loss/damage to personal belongings and not being able to travel on the confirmed departure date.</p>

                    <h6 class="text-black">FORCE MAJEURE</h6>

                    <p>Neither party shall have any liability under or to be deemed to be in breach for any delays or failures in performance, which result from unusual and unforeseeable circumstances beyond the reasonable control of that party, the consequence of which neither party could avoid even with all due care, including, but not limited to, war, threat of war, riot, civil strife, terrorist activity (actual or threatened), industrial dispute, unavoidable technical problems with transport, machinery or equipment, power failure, changes imposed by rescheduling or cancellation of flights by an airline, natural or nuclear disaster, fire, flood, drought, adverse weather conditions, epidemics or outbreaks of illness and level of water in rivers.</p>

                    <h6 class="text-black">PASSPORTS & VISAS</h6>

                    <p>As a general rule most countries expect that you will have at least 6 months' validity on your passport. Visas are the responsibility of the individual. The visa requirements for your trip vary depending on where you are from and where you are going. On arrival visitors may be asked to present return tickets and evidence of means to cover your intended stay. We keep the following information up to date as much as possible, but rules do change – it's important that you check for yourself. Residents from other countries must consult the relevant embassies or your travel agent.</p>

                    <h6 class="text-black">PRICES & SURCHARGES </h6>
                    <p>Our trip prices are subject to variable and seasonal pricing, both of which are standard practice within the travel industry. This means our trip prices may vary at any time depending on demand, market conditions and availability. It is likely that different passengers on the same trip may have been charged different prices. Your best option if you like the price you see is to book at that time.</p>

                    <p>Any reduced pricing or discounts that may become available after you have paid your deposit will not apply. If you wish to cancel your booking to take advantage of a cheaper price, full cancellation conditions apply. The most up-to-date pricing is available on our website.</p>

                    <p>Prices are based on currency exchange rates at time of booking. We reserve the right to impose surcharges prior to departure due to unfavourable changes in exchange rates, increases in airfares or other transportation costs, increases in local operator costs, taxes, or if government action should require us to do so.</p>

                    <h6 class="text-black">CLAIMS & COMPLAINTS </h6>
                    <p>If you have a complaint about your trip, please inform your trip leader or our hostel teams at the time in order that they can attempt to rectify the matter. If satisfaction is not reached through these means then any further complaint should be put in writing to us within 30 days of the end of the tour. And can be sent to info@vietnambackpackerhostels.com</p>

                    <h6 class="text-black">LEGAL NOTICE</h6>
                    <p>This agreement is governed by and construed in accordance with the laws of Vietnam (and/or applicable in relation to the country it is legally represented) for the time being in force and the parties agree to submit any dispute arising between the parties under this agreement to arbitration in accordance with the Arbitration Rules of the respectable Arbitration Institute, Office of the Judiciary applicable at the time of submission of the dispute to arbitration and the conduct of the arbitration thereof shall be under the auspices of the specific Arbitration Institute accordingly.</p>

                    <h6 class="text-black">UPDATING OF TERMS AND CONDITIONS</h6>
                    <p>We reserve the right to update and/or alter these terms and conditions at anytime, and it is your responsibility to be familiar with them. The latest terms and conditions can always be found on the Company website www.vietnambackpackerhostels.com and will supersede any previous versions.</p>

                    <h6 class="text-black">COOKIES</h6>
                    <p>Our website uses cookies to allow the website to function correctly and to distinguish you from other users. This helps us to provide you with a good experience when you browse our website and also allows us to improve the functionality. A cookie is a small file of letters and numbers that we store on your browser or the hard drive of your computer if you agree.</p>
                    <p>Cookies contain information that is transferred to your computer's hard drive. We use the following categories of cookies:</p>
                    <p><strong>Strictly necessary cookies</strong></p>
                    <p>These are cookies that are required for the operation of our website. They include, for example, cookies that enable you to log into secure areas of our website, use a shopping cart or make use of e-billing services.</p>
                    <p><strong>Analytical/performance cookies</strong></p>
                    <p>They allow us to recognise and count the number of visitors and to see how visitors move around our website when they are using it. This helps us to improve the way our website works, for example, by ensuring that users are finding what they are looking for easily.</p>
                    <p><strong>Functionality cookies</strong></p>
                    <p>These are used to recognise you when you return to our website. This enables us to personalise our content for you, greet you by name and remember your preferences (for example, your choice of language or region).</p>
                    <p>All data or information which is collected by the setting of a cookie is anonymous and cannot identify you or your use of the website personally.</p>
                    <p>If you do not consent to our use of cookies, we will not be able to display our web pages properly and your experience of our website will be greatly affected.</p>
                    <p><strong>Remove consent</strong></p><p>You can block cookies by activating the setting on your browser that allows you to refuse the setting of all or some cookies.</p>
                </div>
            </div>
        </div>
    </div>
    <!--Section: Categories-->