@page "/cookie-policy"
@model VietnamBackpackerHostels.Web.Pages.CookiePolicy.IndexModel
    <!--Section: Category Header-->
    <div class="custom-height mt-n5 py-3 py-lg-5 bg-black">
        <div class="container py-5">
            <div class="row my-4">
                <div class="col-12 has-parallax-scroll">
                    <h1 class="display-4 fw-bold ls-tight text-white">Cookies Policy</h1>
                </div>
            </div>
        </div>
    </div>
    <!--Section: Category Header-->
    <!--Section: Categories-->
    <div class="container bg-white rounded-6 position-relative p-3 custom-mt">
        <div class="row">
            <div class="row">
                <div class="col-lg-12">
                    <h6 class="text-black">COOKIES</h6>
                    <p>Our website uses cookies to allow the website to function correctly and to distinguish you from other users. This helps us to provide you with a good experience when you browse our website and also allows us to improve the functionality. A cookie is a small file of letters and numbers that we store on your browser or the hard drive of your computer if you agree.</p>
                    <p>Cookies contain information that is transferred to your computer's hard drive. We use the following categories of cookies:</p>
                    <p><strong>Strictly necessary cookies</strong></p>
                    <p>These are cookies that are required for the operation of our website. They include, for example, cookies that enable you to log into secure areas of our website, use a shopping cart or make use of e-billing services.</p>
                    <p><strong>Analytical/performance cookies</strong></p>
                    <p>They allow us to recognise and count the number of visitors and to see how visitors move around our website when they are using it. This helps us to improve the way our website works, for example, by ensuring that users are finding what they are looking for easily.</p>
                    <p><strong>Functionality cookies</strong></p>
                    <p>These are used to recognise you when you return to our website. This enables us to personalise our content for you, greet you by name and remember your preferences (for example, your choice of language or region).</p>
                    <p>All data or information which is collected by the setting of a cookie is anonymous and cannot identify you or your use of the website personally.</p>
                    <p>If you do not consent to our use of cookies, we will not be able to display our web pages properly and your experience of our website will be greatly affected.</p>
                    <p><strong>Remove consent</strong></p><p>You can block cookies by activating the setting on your browser that allows you to refuse the setting of all or some cookies.</p>
                </div>
            </div>
        </div>
    </div>
    <!--Section: Categories-->