@page "/about-us/community"
@model VietnamBackpackerHostels.Web.Pages.AboutUs.Community.IndexModel

    <!--Section: Category Header-->
<div class="custom-height mt-n5 py-3 py-lg-5 bg-black">
    <div class="container py-5">
        <div class="row my-4">
            <div class="col-12 has-parallax-scroll">
                <h1 class="display-4 fw-bold ls-tight text-white">Community</h1>
            </div>
        </div>
    </div>

    <img src="https://travaloudcdn.azureedge.net/vbh/assets/images/texture-bottom.png" class="w-100 bottom-0 start-0 position-absolute" style="max-height:18px;" alt="Texture border image" />
</div>
    <!--Section: Category Header-->
    <!--Section: Categories-->
    <div class="container bg-white rounded-6 position-relative pt-3 px-3 pb-3 custom-mt">
        <div class="row">
            <div class="col-lg-12">
                <p>At VBH we're all about working together, building bridges and giving back to the community and our fellow travelers. It's about creating the best experience for everyone involved and fostering amazing new relationships with friends and family in Vietnam and Worldwide.</p>
                <h3 class="text-black">VBH <span class="text-primary text-shadow-0 header-font">MATES</span></h3>
                <p>Visit our awesome affiliates listed below for similar stella services both in Vietnam and the greater South East Asia area.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 col-sm-4 col-md-2 col-lg-2 text-center" data-navigate-url="">
                <a href="https://www.madmonkeyhostels.com/?utm_source=vbp&amp;utm_medium=referral&amp;utm_campaign=vbp" target="_blank">
                    <img class="img-fluid" src="https://vietnambackpackerhostels.blob.core.windows.net/legacy/Madmonkey_2.png"><h6 class="text-black">MAD MONKEY</h6>
                </a>
            </div>
            <div class="col-xs-2 col-sm-4 col-md-2 col-lg-2 col-half-offset text-center" data-navigate-url="">
                <a href="http://www.phongnhageckohostel.com/" target="_blank">
                    <img class="img-fluid" src="https://vietnambackpackerhostels.blob.core.windows.net/legacy/Gecko_2.png"><h6 class="text-black">GECKO</h6>
                </a>
            </div>
            <div class="col-xs-2 col-sm-4 col-md-2 col-lg-2 col-half-offset text-center" data-navigate-url="">
                <a href="http://bondibackpackersnhatrang.com/" target="_blank">
                    <img class="img-fluid" src="https://vietnambackpackerhostels.blob.core.windows.net/legacy/Bondi.png"><h6 class="text-black">BONDI BACKPACKERS</h6>
                </a>
            </div>
            <div class="col-xs-2 col-sm-4 col-md-2 col-lg-2 col-half-offset text-center" data-navigate-url="">
                <a href="http://www.easytigerhostel.com/" target="_blank">
                    <img class="img-fluid" src="https://vietnambackpackerhostels.blob.core.windows.net/legacy/easytiger_2.png"><h6 class="text-black">EASY TIGER</h6>
                </a>
            </div>
            <div class="col-xs-2 col-sm-4 col-md-2 col-lg-2 col-half-offset text-center" data-navigate-url="">
                <a href="http://shambalaa.com/" target="_blank">
                    <img class="img-fluid" src="https://vietnambackpackerhostels.blob.core.windows.net/legacy/shambalaa_2.png"><h6 class="text-black">SHAMBALAA</h6>
                </a>
            </div>
            <div class="col-xs-2 col-sm-4 col-md-2 col-lg-2 text-center" data-navigate-url="">
                <a href="http://hanoibackstreettours.com/" target="_blank">
                    <img class="img-fluid" src="https://vietnambackpackerhostels.blob.core.windows.net/legacy/backstreet_2.png"><h6 class="text-black">HANOI BACKSTREET TOUR</h6>
                </a>
            </div>
            <div class="col-xs-2 col-sm-4 col-md-2 col-lg-2 col-half-offset text-center" data-navigate-url="">
                <a href="https://www.tourradar.com/d/vietnam" target="_blank">
                    <img class="img-fluid" src="https://vietnambackpackerhostels.blob.core.windows.net/legacy/tourradar_2.png"><h6 class="text-black">TOURRADAR</h6>
                </a>
            </div>
            <div class="col-xs-2 col-sm-4 col-md-2 col-lg-2 col-half-offset text-center" data-navigate-url="">
                <a href="https://southeastasiabackpacker.com/" target="_blank">
                    <img class="img-fluid" src="https://vietnambackpackerhostels.blob.core.windows.net/legacy/Southeast_2.png"><h6 class="text-black">SOUTH EAST ASIA BACKPACKER</h6>
                </a>
            </div>
            <div class="col-xs-2 col-sm-4 col-md-2 col-lg-2 text-center col-half-offset" data-navigate-url="">
                <a href="https://dalatfamilyhostel.com/" target="_blank">
                    <img class="img-fluid" src="https://vietnambackpackerhostels.blob.core.windows.net/legacy/dalat_2.png"><h6 class="text-black">DALAT FAMILY HOSTEL</h6>
                </a>
            </div>
            <div class="col-xs-2 col-sm-4 col-md-2 col-lg-2 col-half-offset text-center" data-navigate-url="">
                <a href="http://www.pinetrackadventures.com/" target="_blank">
                    <img class="img-fluid" src="https://vietnambackpackerhostels.blob.core.windows.net/legacy/pinetrack_2.png"><h6 class="text-black">PINE TRACK ADVENTURE</h6>
                </a>
            </div>
            <div class="col-xs-2 col-sm-4 col-md-2 col-lg-2 text-center" data-navigate-url="">
                <a href="https://www.bigtreebaixep.com/" target="_blank">
                    <img class="img-fluid" src="https://vietnambackpackerhostels.blob.core.windows.net/legacy/big%20tree.png"><h6 class="text-black">BIG TREE BACKPACKER</h6>
                </a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-12">
                <h3 class="text-black">How we <span class="text-primary text-shadow-0 header-font">give back</span></h3>
                <p>From beach clean ups, to English classes, to our annual charity events; VBH is proud be working with local communities, helping them to flourish and grow, and on raising awareness of looking after our planet both at home and abroad.</p>
            </div>
        </div>
    </div>
    <!--Section: Categories-->

    <partial name="Shared/_DesignYourTripPartial" model="true" />