@page "/about-us/join-our-crew"
@model VietnamBackpackerHostels.Web.Pages.AboutUs.JoinOurCrew.IndexModel
<!--Section: Category Header-->
<div class="custom-height mt-n5 py-3 py-lg-5 bg-black">
    <div class="container py-5">
        <div class="row my-4">
            <div class="col-12 has-parallax-scroll">
                <h1 class="display-4 fw-bold ls-tight text-white">Join Our Crew</h1>
            </div>
        </div>
    </div>

    <img src="https://ik.imagekit.io/rqlzhe7ko/vbh/texture-bottom.png" class="w-100 bottom-0 start-0 position-absolute" style="max-height:18px;" alt="Texture border image" />
</div>
<!--Section: Category Header-->
<!--Section: Categories-->
<div class="container bg-white rounded-6 position-relative pt-3 px-3 pb-5 custom-mt">
    <div class="row">
        <p>VBH is always looking for fantastic people to join us for a good time, and a long time. We want visitors to this wonderful country to experience it in our own special way and you could be apart of bringing that experience to life.</p>
        <p>Our vision is to provide the world's best hostels by delivering quality products and unique experience to our customers. If this excites you, and you'd like to do the same then we'd love you to inquire about how you can grow your career along with us.</p>
        <p>But we're not just looking for anyone, we want to work with people who share our values.</p>
        <hr class="hr" />
        @if (Model.JobVacancies.Any())
        {
            <h4 class="text-black mb-3 text-center">Current Positions</h4>
            @foreach (var jobVacancy in Model.JobVacancies)
            {
                <partial name="AboutUs/JoinOurCrew/Shared/_JobVacancyPartial" model="jobVacancy" />
            }
        }
        <hr class="hr" />
        <p>If you wish to apply to any of the above jobs, please send a copy of your CV, and a Cover Letter stating why you wish to work for VBH to <a href="mailto:info@vietnambackpackerhostels.com"><strong>info@vietnambackpackerhostels.com</strong></a>.</p>
    </div>
</div>
<!--Section: Categories-->

<partial name="Shared/_DesignYourTripPartial" model="true" />