@page "/about-us/city-guides"
@model VietnamBackpackerHostels.Web.Pages.AboutUs.CityGuides.IndexModel

<div class="custom-height mt-n5 py-3 py-lg-5 bg-black">
    <div class="container py-5">
        <div class="row my-4">
            <div class="col-12 has-parallax-scroll">
                <h1 class="display-4 fw-bold ls-tight text-white">City Guides</h1>
            </div>
        </div>
    </div>

    <img src="https://ik.imagekit.io/rqlzhe7ko/vbh/texture-bottom.png" class="w-100 bottom-0 start-0 position-absolute" style="max-height:18px;" alt="Texture border image" />
</div>

<div class="container bg-white rounded-6 position-relative pt-3 px-3 custom-mt">
    <h3 class="mb-5 mt-5 text-black text-center"><strong>Hanoi</strong></h3>
    <div class="row">

        <div class="col-12 col-lg mb-3 has-parallax-scroll">
            <div class="card h-100">
                <div class="bg-image">
                    <img src="https://ik.imagekit.io/rqlzhe7ko/vbh/city-guides-Hanoi1.jpeg?tr=w-600" class="img-fluid">
                </div>
                <div class="card-body d-flex flex-column">
                    <div class="text-gray header-font text-shadow-0 mb-3 mt-1">
                        <i class="fas fa-city"></i>
                        City Guides
                    </div>
                    <h5 class="card-title text-black">HANOI IS PICTURESQUE PAGODAS</h5>

                    <div class="card-text">

                    </div>


                    <div class="mt-auto">
                        <a href="https://www.lonelyplanet.com/vietnam/hanoi" target="_blank" class="btn btn-primary align-bottom">Read More  <i class="fas fa-angle-right ms-1"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg mb-3 has-parallax-scroll">
            <div class="card h-100">
                <div class="bg-image">
                    <img src="https://ik.imagekit.io/rqlzhe7ko/vbh/city-guides-hanoi3.jpeg?tr=w-600" class="img-fluid">
                </div>
                <div class="card-body d-flex flex-column">
                    <div class="text-gray header-font text-shadow-0 mb-3 mt-1">
                        <i class="fas fa-city"></i>
                        City Guides
                    </div>
                    <h5 class="card-title text-black">THE FIRST-TIMER'S TRAVEL GUIDE TO HANOI, VIETNAM</h5>

                    <div class="card-text">

                    </div>


                    <div class="mt-auto">
                        <a href="https://www.willflyforfood.net/2017/08/28/the-first-timers-travel-guide-to-hanoi-vietnam/#vietnamese-food-guide" target="_blank" class="btn btn-primary align-bottom">Read More  <i class="fas fa-angle-right ms-1"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg mb-3 has-parallax-scroll">
            <div class="card h-100">
                <div class="bg-image">
                    <img src="https://ik.imagekit.io/rqlzhe7ko/vbh/city-guides-hanoi2.jpeg?tr=w-600" class="img-fluid">
                </div>
                <div class="card-body d-flex flex-column">
                    <div class="text-gray header-font text-shadow-0 mb-3 mt-1">
                        <i class="fas fa-city"></i>
                        City Guides
                    </div>
                    <h5 class="card-title text-black">TOP 5 THINGS TO SEE AND DO IN HANOI</h5>

                    <div class="card-text">

                    </div>


                    <div class="mt-auto">
                        <a href="https://www.nomadicmatt.com/travel-guides/vietnam-travel-tips/hanoi" target="_blank" class="btn btn-primary align-bottom">Read More  <i class="fas fa-angle-right ms-1"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <h3 class="mb-5 mt-5 text-black text-center"><strong>Sai Gon</strong></h3>
    <div class="row">

        <div class="col-12 col-lg mb-3 has-parallax-scroll">
            <div class="card h-100">
                <div class="bg-image">
                    <img src="https://ik.imagekit.io/rqlzhe7ko/vbh/city-guides-sg1.jpeg?tr=w-600" class="img-fluid">
                </div>
                <div class="card-body d-flex flex-column">
                    <div class="text-gray header-font text-shadow-0 mb-3 mt-1">
                        <i class="fas fa-city"></i>
                        City Guides
                    </div>
                    <h5 class="card-title text-black">HO CHI MINH CITY</h5>

                    <div class="card-text">

                    </div>


                    <div class="mt-auto">
                        <a href="https://www.lonelyplanet.com/vietnam/ho-chi-minh-city" target="_blank" class="btn btn-primary align-bottom">Read More  <i class="fas fa-angle-right ms-1"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg mb-3 has-parallax-scroll">
            <div class="card h-100">
                <div class="bg-image">
                    <img src="https://ik.imagekit.io/rqlzhe7ko/vbh/city-guides-sg3.jpeg?tr=w-600" class="img-fluid">
                </div>
                <div class="card-body d-flex flex-column">
                    <div class="text-gray header-font text-shadow-0 mb-3 mt-1">
                        <i class="fas fa-city"></i>
                        City Guides
                    </div>
                    <h5 class="card-title text-black">HO CHI MINH CITY AND AROUND</h5>

                    <div class="card-text">

                    </div>


                    <div class="mt-auto">
                        <a href="https://www.roughguides.com/destinations/asia/vietnam/ho-chi-minh-city-and-around" target="_blank" class="btn btn-primary align-bottom">Read More  <i class="fas fa-angle-right ms-1"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg mb-3 has-parallax-scroll">
            <div class="card h-100">
                <div class="bg-image">
                    <img src="https://ik.imagekit.io/rqlzhe7ko/vbh/city-guides-sg2.jpeg?tr=w-600" class="img-fluid">
                </div>
                <div class="card-body d-flex flex-column">
                    <div class="text-gray header-font text-shadow-0 mb-3 mt-1">
                        <i class="fas fa-city"></i>
                        City Guides
                    </div>
                    <h5 class="card-title text-black">HO CHI MINH CITY TRAVEL GUIDE</h5>

                    <div class="card-text">

                    </div>


                    <div class="mt-auto">
                        <a href="https://www.nomadicmatt.com/travel-guides/vietnam-travel-tips/ho-chi-minh-city" target="_blank" class="btn btn-primary align-bottom">Read More  <i class="fas fa-angle-right ms-1"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <h3 class="mb-5 mt-5 text-black text-center"><strong>Hoi An</strong></h3>
    <div class="row">

        <div class="col-12 col-lg mb-3 has-parallax-scroll">
            <div class="card h-100">
                <div class="bg-image">
                    <img src="https://ik.imagekit.io/rqlzhe7ko/vbh/city-guides-hoian2.jpeg?tr=w-600" class="img-fluid">
                </div>
                <div class="card-body d-flex flex-column">
                    <div class="text-gray header-font text-shadow-0 mb-3 mt-1">
                        <i class="fas fa-city"></i>
                        City Guides
                    </div>
                    <h5 class="card-title text-black">HOI AN IS OLD TOWN EXPLORATION</h5>

                    <div class="card-text">

                    </div>


                    <div class="mt-auto">
                        <a href="https://www.lonelyplanet.com/vietnam/central-vietnam/hoi-an" target="_blank" class="btn btn-primary align-bottom">Read More  <i class="fas fa-angle-right ms-1"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg mb-3 has-parallax-scroll">
            <div class="card h-100">
                <div class="bg-image">
                    <img src="https://ik.imagekit.io/rqlzhe7ko/vbh/city-guides-hoian1.jpeg?tr=w-600" class="img-fluid">
                </div>
                <div class="card-body d-flex flex-column">
                    <div class="text-gray header-font text-shadow-0 mb-3 mt-1">
                        <i class="fas fa-city"></i>
                        City Guides
                    </div>
                    <h5 class="card-title text-black">HOI AN TRAVEL GUIDE</h5>

                    <div class="card-text">

                    </div>


                    <div class="mt-auto">
                        <a href="https://www.nomadicmatt.com/travel-guides/vietnam-travel-tips/hoi-an" target="_blank" class="btn btn-primary align-bottom">Read More  <i class="fas fa-angle-right ms-1"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-12 col-lg mb-3 has-parallax-scroll">
            <div class="card h-100">
                <div class="bg-image">
                    <img src="https://ik.imagekit.io/rqlzhe7ko/vbh/city-guides-hoian4.jpeg?tr=w-600" class="img-fluid">
                </div>
                <div class="card-body d-flex flex-column">
                    <div class="text-gray header-font text-shadow-0 mb-3 mt-1">
                        <i class="fas fa-city"></i>
                        City Guides
                    </div>
                    <h5 class="card-title text-black">HOI AN TRAVEL GUIDE</h5>

                    <div class="card-text">

                    </div>


                    <div class="mt-auto">
                        <a href="https://www.rustycompass.com/vietnam-travel-guide-233/hoi-an-28#.W17D2NIzbIU" target="_blank" class="btn btn-primary align-bottom">Read More  <i class="fas fa-angle-right ms-1"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg mb-3 has-parallax-scroll">
            <div class="card h-100">
                <div class="bg-image">
                    <img src="https://ik.imagekit.io/rqlzhe7ko/vbh/city-guides-hoian3.jpeg?tr=w-600" class="img-fluid" >
                </div>
                <div class="card-body d-flex flex-column">
                    <div class="text-gray header-font text-shadow-0 mb-3 mt-1">
                        <i class="fas fa-city"></i>
                        City Guides
                    </div>
                    <h5 class="card-title text-black">THE FIRST-TIMER'S TRAVEL GUIDE TO HOI AN, VIETNAM</h5>

                    <div class="card-text">

                    </div>


                    <div class="mt-auto">
                        <a href="https://www.willflyforfood.net/2017/08/30/the-first-timers-travel-guide-to-hoi-an-vietnam" target="_blank" class="btn btn-primary align-bottom">Read More  <i class="fas fa-angle-right ms-1"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <h3 class="mb-5 mt-5 text-black text-center"><strong>Hue</strong></h3>
    <div class="row">

        <div class="col-12 col-lg mb-3 has-parallax-scroll">
            <div class="card h-100">
                <div class="bg-image">
                    <img src="https://ik.imagekit.io/rqlzhe7ko/vbh/city-guides-hue2.jpeg?tr=w-600" class="img-fluid" >
                </div>
                <div class="card-body d-flex flex-column">
                    <div class="text-gray header-font text-shadow-0 mb-3 mt-1">
                        <i class="fas fa-city"></i>
                        City Guides
                    </div>
                    <h5 class="card-title text-black">HUE GUIDE</h5>

                    <div class="card-text">

                    </div>


                    <div class="mt-auto">
                        <a href="https://www.straytravel.asia/travel-guide/vietnam-travel-guide/hue-guide" target="_blank" class="btn btn-primary align-bottom">Read More  <i class="fas fa-angle-right ms-1"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg mb-3 has-parallax-scroll">
            <div class="card h-100">
                <div class="bg-image">
                    <img src="https://ik.imagekit.io/rqlzhe7ko/vbh/city-guides-hue.jpeg?tr=w-600" class="img-fluid" >
                </div>
                <div class="card-body d-flex flex-column">
                    <div class="text-gray header-font text-shadow-0 mb-3 mt-1">
                        <i class="fas fa-city"></i>
                        City Guides
                    </div>
                    <h5 class="card-title text-black">HUE IS AN HISTORIC CITADEL</h5>

                    <div class="card-text">

                    </div>


                    <div class="mt-auto">
                        <a href="https://www.lonelyplanet.com/vietnam/central-vietnam/hue" target="_blank" class="btn btn-primary align-bottom">Read More  <i class="fas fa-angle-right ms-1"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<partial name="Shared/_DesignYourTripPartial" model="true" />