@model Travaloud.Core.Models.ApiModels.JobVacancyDto

<div class="col-lg-6 mb-3">
    <div class="card">
        <div class="card-body">
            <h5 class="text-black mb-3">
                @Model.JobTitle
            </h5>
            <p class="mb-0">
                <i class="fas fa-location-pin dark-grey-text" aria-hidden="true"></i> @Model.Location
            </p>
        </div>
    </div>
</div>